.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.styles__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
.styles__info h1 {
  color: #5bb346;
  /* font-size: 3vh; */
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
.styles__info p {
}
.first {
}
.first span {
  margin-bottom: 15px;
}
.styles__number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.styles__number button {
  color: beige;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  border-color: #5bb346;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}
.styles__number button:last-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.styles__number button:hover {
  background-color: #5bb346;
  cursor: pointer;
}

@media screen and (min-width: 400px) and (max-width: 4000px) {
  .styles__number {
    flex-direction: row;
  }
  .styles__number button {
    margin-right: 20px;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .styles__number {
    flex-direction: column;
  }
  .styles__info h1 {
    font-size: 5vw;
    margin-bottom: 0px;
    line-height: 25px;
  }
  .styles__info {
    font-size: 4vw;
  }
  .styles__number button {
    width: 40vw;
  }
}
