.wrapper__dishes {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
}

.TitleImageTableDishes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2%;
}
.TitleImageTableDishes h1 {
  color: green;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.imageDishe {
  max-width: 100%;
  height: auto;
}
.ImageDishe img {
  width: 400px;
  height: 250px;
  /* margin-right: 25px; */
}
.food__items {
  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: repeat(3, 30px);
  color: azure;
  border-bottom: 1px dashed #ccc;
  row-gap: 2px;
  padding-left: 5%;
}

.items__description_one {
  padding-top: 12px;
}
.items__description_second {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
}
.items__description_third {
  font-size: 15px;
  margin-top: 8px;
  font-style: italic;
  grid-row: 2/3;
}
.wrapper__menu {
  width: 100%;
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: repeat(10, 70px);
  grid-auto-rows: 250px;
  grid-auto-columns: 500px;
  justify-items: center;
  justify-self: center;
}
@media screen and (min-width: 200px) and (max-width: 1300px) {
}
