.wrapper__dishes {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  flex-wrap: wrap;
  width: 107%;
  justify-content: center;
}

.TitleImageTableDishes {
  display: flex;
  flex-direction: column;

  margin-right: 2%;
}
.TitleImageTableDishes h1 {
  color: green;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.imageDishe {
  max-width: 100%;
  height: auto;
}
.ImageDishe img {
  width: 400px;
  height: 250px;
  /* margin-right: 25px; */
}
.food__items {
  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: repeat(3, 30px);
  color: azure;
  border-bottom: 1px dashed #ccc;
  row-gap: 2px;
  padding-left: 5%;
}

.items__description_one {
  padding-top: 12px;
}
.items__description_second {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
}
.items__description_third {
  font-size: 15px;
  margin-top: 8px;
  font-style: italic;
  grid-row: 2/3;
}
.wrapper__menu {
  width: 100%;
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: repeat(4, 75px);
  grid-auto-rows: 75px;
  grid-auto-columns: 99%;
  justify-items: center;
  justify-self: center;
}
@media screen and (min-width: 200px) and (max-width: 460px) {
  .food__items {
    grid-template-columns: minmax(100px, 350px);
    grid-template-rows: minmax(5px, 35px) minmax(5px, 35px) minmax(5px, 35px);
  }
  .wrapper__menu {
    grid-template-columns: minmax(100px, 280px);
    grid-template-rows: minmax(20px, 75px);
    margin-left: 14%;
  }
  .TitleImageTableDishes h1 {
    font-size: 20px;
    padding-top: 15%;
  }
  .items__description_third {
    font-size: 13px;
  }
}
